<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Course</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1>Show Course Page</h1>
<a th:href="@{/}">Index</a>
<a th:href="@{/employee}">Employee</a>
<a th:href="@{/job}">Job</a>
<a th:href="@{/course}">Course</a>
<a th:href="@{/train}">Train</a>
<br><br>
<h1>Many To Many</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Course</th>
    </tr>
    <tr th:each="course : ${course}">
        <td th:text="${name}"></td>
        <td th:text="${course.name}"></td>
    </tr>
</table>
</body>
</html>